/* @group Baseline */
body {
  font-family: monospace;
  font-size: 100%;
  color: #444;
  background-color: #EEE;
  max-width: 80ch;
  padding-left: 2ch;
  padding-right: 3ch;
  margin: 0 auto;
}
h1 {
  margin: 0;
  font-size: 200%;
  font-weight: bold;
  display: inline-block;
  line-height: 0.9em;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
h3 {
  margin: 0;
  font-size: 1.3333333333333333em;
  line-height: 1.125em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 1em;
}

/* code */
pre, code {
  font-family: Monaco, "Courier New", Courier;
  font-size: 90%;
}

/* link */
a {
  color: #444;
  font-weight: bold;
}

/* table */ 
table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}
td, th {
  padding: 0 20px;
}

/* @end */

